.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
} 

@media screen and (max-width:992px) {
    .countries{
        grid-template-columns: repeat(2, 1fr);
    }
}